body
{    
    background-color: beige;   
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 900px; 
    font-family: Arial; 
} 

.header
{
    width: 100%;   
}

.logo img
{
    width: 170px;
    height: 150px;
}

.logo
{
    float: left;
    position: relative;
    top: 15px;
}

.searchbox button
{
    position: relative;
    top: 30px;
    
    float: right;
    
    width:70px;
    height: 25px;
    
    background-color: #3359a0;
    color: white;
    
    margin: 0;
    outline: none;
    cursor: pointer;
    text-align: center;
	text-decoration: none;
    
    border-radius: 5px;
}

.newsearch
{
    float:right;
    
    position: relative;
    top: 30px;
    left: 25px;
    
    width: 200px;
    height: 25px;
        
    margin: 0;
    padding: 5px 15px;
    border-right:0px;
    border-top-left-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
}

.navbar a
{
    
    top: 80px;
    left: 50px;
    position: relative;
    
    padding: 10px 40px 10px 40px;
    border: 1px solid #cfa30c;
    float: left;    
    clear: right;
    
    text-align: center;   
    text-decoration: none;
    font-weight: bold;
    
    background-color: #3f0f7c;
    color:#cfa30c;
}

.middlesession
{
    top: 250px;
    position: relative;
    width: 920px;
    height: 350px;
    background-color: #cfa30c;
}

.mission
{
    position: absolute; 
    top: 5px;
    width: 50%;
    
    padding-left: 20px;
    
}

h4
{
    font-weight:normal;
    font-size: 28px;
    color: #3359a0;
}

p
{
    font-family: Georgia; 
    float: left;
    
    text-indent: 35px;
    font-size: 18px;
    margin: 0 auto;
}

.homepageimg
{
    position: absolute; 
    top: 100px;
    left: 500px;
}

.homepageimg img 
{
    width: 80%;
    float: left;
    border-radius: 10px;
}

.footerbar a
{
    top: 350px;
    left: 50px;
    position: relative;
    
    float: left;
    
    padding: 10px 50px 10px 50px;
    border: 1px solid #cfa30c;
    
    text-align: center;   
    text-decoration: none;
    font-weight: bold;
    
    background-color: #3f0f7c;
    color:#cfa30c;
}

/* Responsive Part */

@media (max-width: 900px) 
{
    .logo, .searchbox
  {
    float:none;
    width: 95%;
  }
    .logo img, .searchbox button
  {
    display: block;
    margin: 0 auto;
  }
}

@media (max-width: 750px) 
{
    .mission, .homepageimg img
  {
    display: block;
    margin: 0 auto;
  }
    .container
  {
    width: 100%;    
  }

  .middlesession
  {
      float: none;   
      /* problem resizing image */
  }
}

@media (max-width: 550px)
{
  .navbar a, .footerbar a
  {
    padding: 10px;
  }
}

@media (max-width: 450px)
{
  .navbar a, .footerbar a
  {
     font-size: 1.15em;
      display:inline-block;
  }
}
