<!DOCTYPE html>
<html>

<head>
    <title>Bank Info</title>
    <link rel="stylesheet" type="text/css" href="homepageStyle.css">
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="logo">
                <img src="http://i.imgur.com/VzHosQ5.jpg" alt="logo" />
            </div>
            <div class="searchbox">
                <button type="button">Search</button>
                <form class="newsearch" method="get" action="http://www.google.com">
                    <input type="text" name="q" size="21" maxlength="120">
                </form>
            </div>
            <div class="navbar">
                <a href="http://www.albany.edu/~ld551222/362/TeamProject/front-page.html">Home</a>
                <a href="http://www.albany.edu/~ld551222/362/TeamProject/bankrank.html">Bank Information</a>
                <a href="http://www.albany.edu/~ld551222/362/TeamProject/bankcalculator.html">Bank Calculator</a>
                <a href="http://www.albany.edu/~ld551222/362/TeamProject/categories.html">Categories</a>  
                <a href="http://www.albany.edu/~ld551222/362/TeamProject/contact-page.html">Contact Us</a>    
            </div>
        </div>
        <div class="middlesession">
            <div class="missionrank">
                <h2>Bank Information</h2>
                <div class="wrapper">
                    <div class="bank">
                    <h3>Apple Bank</h3>
                    <p>The first branch of Apple Bank opened its doors in Harlem at 1948 Third Avenue (between 125th and 126th Streets) on April 17, 1863. Since its inception in 1863, Apple has continuously developed and evolved to meet the changing financial needs of the communities it serves. </p>
                </div>
                <div class="bank">
                    <h3>Astoria Bank</h3>
                    <p>Astoria Financial Corporation, with assets of $15.1 billion, is the holding company for Astoria Bank. Established in 1888, Astoria Bank, with deposits in New York totaling $9.0 billion, is the second largest thrift depository in New York.</p>
                </div>
                <div class="bank">
                    <h3>Bank of America</h3>
                    <p>Bank of America&#39;s, purpose is to help connect customers and clients to what matters most to them. Every day, they are proud to partner with 57 million individuals, businesses, and communities, bringing them their skills and expertise to help make their financial lives better.</p>
                </div>
                <div class="bank">
                    <h3>Capital One</h3>
                    <p>Capital One is a diversified bank that offers a broad array of financial products and services to consumers, small businesses, and commercial clients.A Fortune 500 company, Capital One has one of the most widely recognized brands in America. </p>
                </div>
                <div class="bank">
                    <h3>Chase Bank</h3>
                    <p>Chase is committed to meeting the banking and financial service needs of all their customers. They work to provide an accessible and barrier-free environment in their banking facilities and over the phone They also continue to improve accessibility to their online services.
                    </p>
                </div>
                <div class="bank">
                    <h3>Citi Bank</h3>
                    <p>Citi works tirelessly to provide consumers, corporations, governments and institutions with a broad range of financial services and products. They strive to create the best outcomes for their clients and customers with financial ingenuity that leads to solutions that are simple, creative, and responsible.</p>
                </div>
                <div class="bank">
                    <h3>Citizens Bank</h3>
                    <p>As the 13th largest retail bank in the United States, they deliver a broad range of financial services to over five million individuals, companies, not for profits, and institutions.</p>
                </div>
                <div class="bank">
                    <h3>Community Bank</h3>
                    <p>They are a full-service financial institution, offering all the things much bigger banks offer. But they also have the one thing they don&#39;t - a passion for providing the highest level of customer service in whatever they do.</p>
                </div>
                <div class="bank">
                    <h3>First Niagara</h3>
                    <p>They strive to be first in what matters to their customers.  Helping you pay less, earn more, protect smarter, and borrow wisely. As a wholly owned subsidiary, with billions in assets and deposits, thousands of employees and hundreds of branches across four states, they have built a trusted name by helping their customers, their employees and their communities. </p>
                </div>
                <div class="bank">
                    <h3>HSBC Bank</h3>
                    <p>Through loyal and committed employees who make lasting customer relationships and international teamwork easier to achieve, HSBC works to uphold Five Core Business Principles which are: Outstanding customer service, Effective and efficient operations, Strong capital and liquidity, Conservative lending policy, and Strict expense discipline.</p>
                </div>
                <div class="bank">
                    <h3>KeyBank</h3>
                    <p>Cleveland-based KeyCorp is one of the nation’s largest bank-based financial services companies, with assets of approximately $93.8 billion. Key companies provide investment management, retail and commercial banking, consumer finance, and investment banking products and services to individuals and companies throughout the United States and for certain international businesses.</p>
                </div>
                
                <div class="bank">
                    <h3>M&amp;T Bank</h3>
                    <p>M&amp;T strives to be the best company their employees ever work for, the best bank their customers ever do business with, and the best investment their shareholders make.</p>
                </div>       
                
                <div class="bank">
                    <h3>NBT Bank</h3>
                    <p>They are an independent community bank based in Norwich, N.Y. They trace their roots back to 1856 and are proud of their heritage of building long-term financial relationships.</p>
                </div>
                <div class="bank">
                    <h3>NY Community &amp; Commercial Bank</h3>
                    <p>With assets of $49.0 billion on September 30, 2015, New York Community Bancorp, Inc. (NYSE: NYCB) is the 22nd largest bank holding company in the nation They are a leading producer of multi-family mortgage loans in New York City, with an emphasis on apartment buildings that feature below-market rent.</p>
                </div>
                <div class="bank">
                    <h3>People&#39;s United  Bank</h3>
                    <p>People&#39;s United Bank is a subsidiary of People&#39;s United Financial, Inc., a diversified financial services company with over $37 billion in assets. People&#39;s United Bank, founded in 1842, is a premier, community-based, regional bank in the Northeast offering commercial and retail banking.</p>
                </div>
                                
                <div class="bank">
                    <h3>Santander Bank</h3>
                    <p>Santander Bank has been around for a long time, but they are newer to the Northeast and they are glad to be your neighbor. It is likely you don&#39;t know them that well yet. Like many banks, they offer you plenty of financial products and services, but really, the similarities end there.</p>
                </div>
                <div class="bank">
                    <h3>TD Bank</h3>
                    <p>TD Bank, America&#39;s Most Convenient Bank&reg;, has proudly provided unparalleled convenience and legendary customer service for more than 150 years. They remain focused on delivering award-winning customer service and hassle-free products to customers from Maine to Florida.</p>
                </div>
                <div class="bank">
                    <h3>Trustco Bank</h3>
                    <p>The mission of Trustco Bank is to be the low cost provider of high quality services to their customers in the communities they serve and to return to their owners an above average return on their investment. </p>
                </div>
                <div class="bank">
                    <h3>Wells Fargo</h3>
                    <p>Wells Fargo believes in their vision and values just as strongly today as they did the first time they put them on paper more than 20 years ago. Staying true to them guides them towards continued growth and success for decades to come.</p>
                </div>
                    <div class="bank">
                    <h4>Citation</h4>
                    <p>All information on this page was retrieved from the website of each respective bank listed. This is how each bank descibes themselvs and their goals.</p>
                </div>
            </div>
        </div> 
    </div>
    </div>
</body>

</html>
