<!DOCTYPE html>
<html>

<head>
    <title>Bank Rank</title>
    <link rel="stylesheet" type="text/css" href="homepageStyle.css">
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="logo">
                <img src="http://i.imgur.com/VzHosQ5.jpg" alt="logo" />
            </div>
            <div class="searchbox">
                <button type="button">Search</button>
                <form class="newsearch" method="get" action="http://www.google.com">
                    <input type="text" name="q" size="21" maxlength="120">
                </form>
            </div>
            <div class="navbar">
                <a href="http://www.albany.edu/~ld551222/362/TeamProject/front-page.html">Home</a>
                <a href="http://www.albany.edu/~ld551222/362/TeamProject/bankrank.html">Bank Ranking</a>
                <a href="http://www.albany.edu/~ld551222/362/TeamProject/bankcalculator.html">Bank Calculator</a>
                <a href="http://www.albany.edu/~ld551222/362/TeamProject/categories.html">Categories</a>
            </div>
        </div>
        <div class="middlesession">
            <div class="missionrank">
                <h2>Bank Ranking</h2>
                <div class="wrapper">
                <div class="bank">
                    <h3>Bank of America</h3>
                    <p>At Bank of America, our purpose is to help connect our customers and clients to what matters most to them. Every day, we&#39;re proud to partner with 57 million individuals, businesses, and communities, bringing them our skills and expertise to help make their financial lives better.</p>
                </div>
                <div class="bank">
                    <h3>Citi Bank</h3>
                    <p>Citi works tirelessly to provide consumers, corporations, governments and institutions with a broad range of financial services and products. We strive to create the best outcomes for our clients and customers with financial ingenuity that leads to solutions that are simple, creative and responsible.</p>
                </div>
                    </div>
                <div class="wrapper">
                <div class="bank">
                    <h3>HSBC Bank</h3>
                    <p>Through loyal and committed employees who make lasting customer relationships and international teamwork easier to achieve, HSBC works to uphold Five Core Business Principle which are Outstanding customer service, Effective and efficient operations, Strong capital and liquidity, Conservative lending policy, and Strict expense discipline.</p>
                </div>
                <div class="bank">
                    <h3>Wells Fargo</h3>
                    <p>Wells Fargo believe in our vision and values just as strongly today as we did the first time we put them on paper more than 20 years ago. Staying true to them will guide us toward continued growth and success for decades to come. As you read more about our vision and values, you will learn about who we are, where we&#39;re headed and how every Wells Fargo team member can help us get there.</p>
                </div>
                </div>
                <div class="wrapper">
                <div class="bank">
                    <h3>Chase Bank</h3>
                    <p>Chase is committed to meeting the banking and financial services needs of all our customers. We work to provide an accessible and barrier - free environment in our banking facilities and over the phone - and we continue to improve accessibility to our online services.
                    </p>
                </div>
               
                <div class="bank">
                    <h3>Capital One</h3>
                    <p>Capital One is a diversified bank that offers a broad array of financial products and services to consumers, small businesses, and commercial clients.A Fortune 500 company, Capital One has one of the most widely recognized in America. As one of the nation's top 10 largest banks based on deposits, Capital One serves banking customers through branch locations primarily in New York, New Jersey, Texas, Louisiana, Maryland, Virginia, and the District of Columbia.</p>
                </div>
</div>
            </div>
        </div>
        <div class="footerBoxRank">
            <a href="http://www.albany.edu/~ld551222/362/TeamProject/contact-page.html">Contact Us</a>
        </div>         
    </div>
</body>

</html>
