<!DOCTYPE html>
<html>

<head>
    <title>Bank Rank</title>
    <link rel="stylesheet" type="text/css" href="homepageStyle.css">
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="logo">
                <img src="http://i.imgur.com/VzHosQ5.jpg" alt="logo" />
            </div>
            <div class="searchbox">
                <button type="button">Search</button>
                <form class="newsearch" method="get" action="http://www.google.com">
                    <input type="text" name="q" size="21" maxlength="120">
                </form>
            </div>
            <div class="navbar">
                <a href="http://www.albany.edu/~ld551222/362/TeamProject/front-page.html">Home</a>
                <a href="http://www.albany.edu/~ld551222/362/TeamProject/bankrank.html">Bank Ranking</a>
                <a href="http://www.albany.edu/~ld551222/362/TeamProject/bankcalculator.html">Bank Calculator</a>
                <a href="http://www.albany.edu/~ld551222/362/TeamProject/categories.html">Categories</a>
            </div>
        </div>
        <div class="middlesession">
            <div class="missionrank">
                <h2>Bank Ranking</h2>
                <div class="wrapper">
                <div class="bank">
                    <h3>Bank of America</h3>
                    <p>At Bank of America, our purpose is to help connect our customers and clients to what matters most to them. Every day, we&#39;re proud to partner with 57 million individuals, businesses, and communities, bringing them our skills and expertise to help make their financial lives better.</p>
                </div>
                <div class="bank">
                    <h3>Citi Bank</h3>
                    <p>Citi works tirelessly to provide consumers, corporations, governments and institutions with a broad range of financial services and products. We strive to create the best outcomes for our clients and customers with financial ingenuity that leads to solutions that are simple, creative and responsible.</p>
                </div>
                    </div>
                <div class="wrapper">
                <div class="bank">
                    <h3>HSBC Bank</h3>
                    <p>Through loyal and committed employees who make lasting customer relationships and international teamwork easier to achieve, HSBC works to uphold Five Core Business Principle which are Outstanding customer service, Effective and efficient operations, Strong capital and liquidity, Conservative lending policy, and Strict expense discipline.</p>
                </div>
                <div class="bank">
                    <h3>Wells Fargo</h3>
                    <p>Wells Fargo believe in our vision and values just as strongly today as we did the first time we put them on paper more than 20 years ago. Staying true to them will guide us toward continued growth and success for decades to come. As you read more about our vision and values, you will learn about who we are, where we&#39;re headed and how every Wells Fargo team member can help us get there.</p>
                </div>
                </div>
                <div class="wrapper">
                <div class="bank">
                    <h3>Chase Bank</h3>
                    <p>Chase is committed to meeting the banking and financial services needs of all our customers. We work to provide an accessible and barrier - free environment in our banking facilities and over the phone - and we continue to improve accessibility to our online services.
                    </p>
                </div>
               
                <div class="bank">
                    <h3>Capital One</h3>
                    <p>Capital One is a diversified bank that offers a broad array of financial products and services to consumers, small businesses, and commercial clients.A Fortune 500 company, Capital One has one of the most widely recognized in America. As one of the nation's top 10 largest banks based on deposits, Capital One serves banking customers through branch locations primarily in New York, New Jersey, Texas, Louisiana, Maryland, Virginia, and the District of Columbia.</p>
                </div>
                <div class="bank">
                    <h3>Santander Bank</h3>
                    <p>Hello. We're Santander Bank. Though we've been around a long time, we're newer to the Northeast...and we're glad to be your neighbor. It's likely you don't know us well yet. Like many banks, we offer you plenty of financial products and services, but really, the similarities end there. Our origins, focus, and simplified and personal approach to banking are what set us apart.</p>
                </div>
                <div class="bank">
                    <h3>KeyBank</h3>
                    <p>Cleveland-based KeyCorp is one of the nation’s largest bank-based financial services companies, with assets of approximately $93.8 billion. Key companies provide investment management, retail and commercial banking, consumer finance, and investment banking products and services to individuals and companies throughout the United States and, for certain businesses, internationally.The company’s businesses deliver their products and services through branches and offices; a network of 1,287 ATMs; telephone banking centers 800-KEY2YOU® (800-539-2968); and a website, Key.com®, that provides account access and financial products 24 hours a day.</p>
                </div>
                <div class="bank">
                    <h3>M&T Bank</h3>
                    <p>M&T strives to be the best company our employees ever work for, the best bank our customers ever do business with and the best investment our shareholders make.</p>
                </div>
                <div class="bank">
                    <h3>TD Bank</h3>
                    <p>TD Bank, America's Most Convenient Bank®, has proudly provided unparalleled convenience and legendary WOW! customer service for more than 150 years. The company first opened its doors as Portland Savings Bank in Portland, Maine, in 1852, and later grew through a series of mergers and became Peoples Heritage Bank in 1983. At the turn of the millennium, the opportunity for growth presented itself again as Peoples Heritage Bank, through several acquisitions, expanded deeper into New England and took the name Banknorth.</p>
                </div>
                <div class="bank">
                    <h3>First Niagara</h3>
                    <p>We strive to be first in what matters to our customers.  Helping you pay less, earn more, protect smarter and borrow wisely. As a wholly owned subsidiary, with billions in assets and deposits, thousands of employees and hundreds of branches across four states, we’ve built a trusted name by helping our customers, our employees and our communities. With specialized expertise across many facets of today’s financial world, we can help you thrive personally and professionally.</p>
                </div>
                <div class="bank">
                    <h3>Community Bank</h3>
                    <p>We're a full-service financial institution, offering all the things much bigger banks offer. But we also have the one thing they don't - a passion for providing the highest level of customer service in whatever we do.</p>
                </div>
                <div class="bank">
                    <h3>NY Community & Commercial Bank</h3>
                    <p>With assets of $49.0 billion at September 30, 2015, New York Community Bancorp, Inc. (NYSE: NYCB) is the 22nd largest bank holding company in the nation, and a leading producer of multi-family mortgage loans in New York City, with an emphasis on apartment buildings that feature below-market rents. We're also one of the nation's top 25 depositories, with a meaningful share of deposits in several of the dynamic markets we serve.</p>
                </div>
                <div class="bank">
                    <h3>NBT Bank</h3>
                    <p>Welcome to NBT Bank’s website. We are an independent community bank based in Norwich, N.Y. We trace our roots back to 1856 and are proud of our heritage of building long-term financial relationships. Today, NBT Bank offers personal banking, asset management and business services through a network of more than 155 banking locations in five states. </p>
                </div>
                <div class="bank">
                    <h3>Citizens Bank</h3>
                    <p>As the 13th largest retail bank in the United States, we deliver a broad range of financial services to over five million individuals, companies, not for profits, and institutions.</p>
                </div>
                <div class="bank">
                    <h3>Trustco Bank</h3>
                    <p>The mission of Trustco Bank is to be the low cost provider of high quality services to our customers in the communities we serve and return to our owners an above average return on their investment. </p>
                </div>
                <div class="bank">
                    <h3>Astoria Bank</h3>
                    <p>Astoria Financial Corporation, with assets of $15.1 billion, is the holding company for Astoria Bank. Established in 1888, Astoria Bank, with deposits in New York totaling $9.0 billion, is the second largest thrift depository in New York and provides its retail and business customers and local communities it serves with quality financial products and services through 87 convenient banking branch locations, a business banking office in Manhattan, and multiple delivery channels, including its flexible mobile banking app. Astoria Bank commands a significant deposit market share in the attractive Long Island market, which includes Brooklyn, Queens, Nassau, and Suffolk counties with a population exceeding that of 38 individual states.</p>
                </div>
                <div class="bank">
                    <h3>Apple Bank</h3>
                    <p>The first branch of Apple Bank opened its doors in Harlem at 1948 Third Avenue (between 125th and 126th Streets) on April 17, 1863. Since its inception in 1863, Apple has continuously developed and evolved to meet the changing financial needs of the communities it serves. With close to $12 billion in assets (as of December 31, 2014), Apple stands today as the second largest state-chartered savings bank in  New York and one of the strongest depository institutions in the nation.</p>
                </div>
                <div class="bank">
                    <h3>People's United  Bank</h3>
                    <p>People's United Bank is a subsidiary of People's United Financial, Inc., a diversified financial services company with over $37 billion in assets. People’s United Bank, founded in 1842, is a premier, community-based, regional bank in the Northeast offering commercial and retail banking, as well as wealth management services through a network of nearly 400 retail locations in Connecticut, New York, Massachusetts, Vermont, New Hampshire and Maine.</p>
                </div>
</div>
            </div>
        </div>
        <div class="footerBoxRank">
            <a href="http://www.albany.edu/~ld551222/362/TeamProject/contact-page.html">Contact Us</a>
        </div>         
    </div>
</body>

</html>
