<!DOCTYPE html>
<html>

    <head>
        <title>Bank Categories</title>
        <link rel="stylesheet" type="text/css" href="homepageStyle.css">
    </head>

    <body>
    <div class="container">
        <div class="header">
            <div class="logo">
                <img src="http://i.imgur.com/VzHosQ5.jpg" alt="logo" />
            </div>
            <div class="searchbox">
                <button type="button">Search</button>
                <form class="newsearch" method="get" action="http://www.google.com">
                    <input type="text" name="q" size="21" maxlength="120">
                </form>
            </div>
            <div class="navbar">
                <a href="http://www.albany.edu/~ld551222/362/TeamProject/front-page.html">Home</a>
                <a href="http://www.albany.edu/~ld551222/362/TeamProject/bankrank.html">Bank Ranking</a>
                <a href="#">Bank Calculator</a>
                <a href="http://www.albany.edu/~ld551222/362/TeamProject/categories.html">Categories</a>
            </div>
        </div>
        <div class="middlesessionC">
            <div class="category">
                <h4>Bank Categories</h4>  
                <p>1) Number of Branch locations (as compared to average)</p>
                <p></p>
                <p>2) Branch locations: distribution (as compared to average in low-moderate income areas)</p>
                <p></p>
                <p>3) Online Banking(as compared to average)</p>
                <p></p>
                <p>4) Fee for Outside ATM's</p>
                <p></p>
                <p>5) Checking Account Fees (for the basic level and checkless checking account)</p>
                <p></p>
                <p>6) Savings Account Fees (for the basic level account)</p>
                <p></p>
                <p>7) Overdraft practices [1]</p>
                <p></p>
                <p>8) Overdraft Thresholds and Limits [2]</p>
                <p></p>
                <p>9) Credit cards (basic secured and unsecured) (as compared to average APR range)</p>
                <p></p>
                <p>10) Credit Card Fees (Including late charges)</p>
                <p></p>
                <p>11) Loan Origination marketshare (# of total $ volume of lending in state)</p>
                <p></p>
                <p>12) Loan acceptance rate in NY State (as compared to average)</p>
                <p></p>
                <p>13) Loan acceptance rate Latino borrowers (as compared to average)</p>
                <p></p>
                <p>14) Loan acceptance rate Black borrowers (same as above)</p>
                <p></p>
                <p>15) Loan acceptance rate low-moderate income borrowers (same as above)</p>
                <p></p>
                <p>16) Percentage of total to Low- and Moderate-Income borrowers (as compared to average)</p>
                <p></p>
                <p>17) Loan acceptance rate low-moderate-income communities (as compared to average)</p>
                <p></p>
                <p>18) Percentage of total in communities of color (as compared to average)</p>
                <p></p>
                <p>19) Acceptance of alternate forms of identification</p>
                <p></p>
                <p>20) Cost of wire transfers</p>
                <p></p>
            </div>
        </div>
        <div class="footerBox2">
            <div class="footerbar2">
                <ul>
                    <li><a href="#">Terms &amp; Conditions</a></li>
                    <li><a href="#">Our Social Media</a></li>
                    <li><a href="#">F.A.Q</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="http://www.albany.edu/~ld551222/362/TeamProject/contact-page.html">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </div>
    </body>
</html>
