<!DOCTYPE html>
<html>

    <head>
        <title>Bank Categories</title>
        <link rel="stylesheet" type="text/css" href="homepageStyle.css">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="accordion.js"></script>
    </head>

    <body>
    <div class="container">
        <div class="header">
            <div class="logo">
                <img src="http://i.imgur.com/VzHosQ5.jpg" alt="logo" />
            </div>
            <div class="searchbox">
                <button type="button">Search</button>
                <form class="newsearch" method="get" action="http://www.google.com">
                    <input type="text" name="q" size="21" maxlength="120">
                </form>
            </div>
            <div class="navbar">
                <a href="http://www.albany.edu/~ld551222/362/TeamProject/front-page.html">Home</a>
                <a href="http://www.albany.edu/~ld551222/362/TeamProject/bankrank.html">Bank Information</a>
                <a href="http://www.albany.edu/~ld551222/362/TeamProject/bankcalculator.html">Bank Calculator</a>
                <a href="http://www.albany.edu/~ld551222/362/TeamProject/categories.html">Categories</a>
            </div>
        </div>
        <div class="middlesessionC">
            <div class="category">
                <h4>Bank Categories</h4>  
                <div class="accordion">
                    <div class="accordion-section">
                        <a class="accordion-section-title" href="#accordion-1">1) Number of Branch locations (as compared to average)</a>
         
                        <div id="accordion-1" class="accordion-section-content">
                        <p>The amount of locations the bank has.</p>
                        </div><!--end .accordion-section-content-->
                    </div><!--end .accordion-section-->
                    <div class="accordion-section">
                        <a class="accordion-section-title" href="#accordion-2">2) Branch locations: distribution (as compared to average in low-moderate income areas)</a>
         
                        <div id="accordion-2" class="accordion-section-content">
                        <p>The distance of the branches of the bank from each other.</p>
                        </div><!--end .accordion-section-content-->
                    </div><!--end .accordion-section-->
                    <div class="accordion-section">
                        <a class="accordion-section-title" href="#accordion-3">3) Online Banking(as compared to average)</a>
         
                        <div id="accordion-3" class="accordion-section-content">
                        <p>Doing all banking on the website of the bank.</p>
                        </div><!--end .accordion-section-content-->
                    </div><!--end .accordion-section-->
                    <div class="accordion-section">
                        <a class="accordion-section-title" href="#accordion-4">4) Fee for Outside ATMs</a>
         
                        <div id="accordion-4" class="accordion-section-content">
                        <p>Amount of money charged for using ATMs not owned by the bank.</p>
                        </div><!--end .accordion-section-content-->
                    </div><!--end .accordion-section-->
                    <div class="accordion-section">
                        <a class="accordion-section-title" href="#accordion-5">5) Checking Account Fees (for the basic level and checkless checking account)</a>
         
                        <div id="accordion-5" class="accordion-section-content">
                        <p>How much you have to pay to open a checking account or when you cannot keep an average balance specified by the bank.</p>
                        </div><!--end .accordion-section-content-->
                    </div><!--end .accordion-section-->
                    <div class="accordion-section">
                        <a class="accordion-section-title" href="#accordion-6">6) Savings Account Fees (for the basic level account)</a>
         
                        <div id="accordion-6" class="accordion-section-content">
                        <p>The amount for the monthly maintenance fee.</p>
                        </div><!--end .accordion-section-content-->
                    </div><!--end .accordion-section-->
                    <div class="accordion-section">
                        <a class="accordion-section-title" href="#accordion-7">7) Overdraft practices</a>
         
                        <div id="accordion-7" class="accordion-section-content">
                        <p>What happens when you withdraw more than what you have in your account.</p>
                        </div><!--end .accordion-section-content-->
                    </div><!--end .accordion-section-->
                    <div class="accordion-section">
                        <a class="accordion-section-title" href="#accordion-8">8) Overdraft Thresholds and Limits</a>
         
                        <div id="accordion-8" class="accordion-section-content">
                        <p>The maximum amount the bank will lend you when your account goes into overdraft.</p>
                        </div><!--end .accordion-section-content-->
                    </div><!--end .accordion-section-->
                    <div class="accordion-section">
                        <a class="accordion-section-title" href="#accordion-9">9) Credit cards (basic secured and unsecured) (as compared to average APR range)</a>
         
                        <div id="accordion-9" class="accordion-section-content">
                        <p>The annual amount charged by borrowing money (spending more money than you can pay off in a month and paying installments) on your credit card.</p>
                        </div><!--end .accordion-section-content-->
                    </div><!--end .accordion-section-->
                    <div class="accordion-section">
                        <a class="accordion-section-title" href="#accordion-10">10) Credit Card Fees (Including late charges)</a>
         
                        <div id="accordion-10" class="accordion-section-content">
                        <p>The annual fee credit card companies charge you each year to use the credit card.</p>
                        </div><!--end .accordion-section-content-->
                    </div><!--end .accordion-section-->
                    <div class="accordion-section">
                        <a class="accordion-section-title" href="#accordion-11">11) Loan Origination marketshare (# of total $ volume of lending in state)</a>
         
                        <div id="accordion-11" class="accordion-section-content">
                        <p>The amount of money loaned out in New York.</p>
                        </div><!--end .accordion-section-content-->
                    </div><!--end .accordion-section-->
                    <div class="accordion-section">
                        <a class="accordion-section-title" href="#accordion-12">12) Loan acceptance rate in NY State (as compared to average)</a>
         
                        <div id="accordion-12" class="accordion-section-content">
                        <p>The acceptance rate for accepting your loan and giving you money.</p>
                        </div><!--end .accordion-section-content-->
                    </div><!--end .accordion-section-->
                <div class="accordion-section">
                        <a class="accordion-section-title" href="#accordion-13">13) Loan acceptance rate Latino borrowers (as compared to average)</a>
         
                        <div id="accordion-13" class="accordion-section-content">
                        <p>The acceptance rate for accepting your loan and giving you money if you are Latino.</p>
                        </div><!--end .accordion-section-content-->
                    </div><!--end .accordion-section-->
                <div class="accordion-section">
                        <a class="accordion-section-title" href="#accordion-14">14) Loan acceptance rate Black borrowers (same as above)</a>
         
                        <div id="accordion-14" class="accordion-section-content">
                        <p>The acceptance rate for accepting your loan and giving you money if you are Black.</p>
                        </div><!--end .accordion-section-content-->
                    </div><!--end .accordion-section-->
                <div class="accordion-section">
                        <a class="accordion-section-title" href="#accordion-15">15) Loan acceptance rate low-moderate income borrowers (same as above)</a>
         
                        <div id="accordion-15" class="accordion-section-content">
                        <p>The acceptance rate for accepting your loan and giving you money if you have a low to moderate income.</p>
                        </div><!--end .accordion-section-content-->
                    </div><!--end .accordion-section-->
                <div class="accordion-section">
                        <a class="accordion-section-title" href="#accordion-16">16) Percentage of total to Low- and Moderate-Income borrowers (as compared to average)</a>
         
                        <div id="accordion-16" class="accordion-section-content">
                        <p>A comparison of the total amount of borrowers to the amount of low and moderate income borrowers.</p>
                        </div><!--end .accordion-section-content-->
                    </div><!--end .accordion-section-->
                <div class="accordion-section">
                        <a class="accordion-section-title" href="#accordion-17">17) Loan acceptance rate low-moderate-income communities (as compared to average)</a>
         
                        <div id="accordion-17" class="accordion-section-content">
                        <p>The acceptance rate for accepting your loan and giving you money if you live in a low to moderate income community.</p>
                        </div><!--end .accordion-section-content-->
                    </div><!--end .accordion-section-->
                <div class="accordion-section">
                        <a class="accordion-section-title" href="#accordion-18">18) Percentage of total in communities of color (as compared to average)</a>
         
                        <div id="accordion-18" class="accordion-section-content">
                        <p>The acceptance rate for accepting your loan and giving you money if you live in a community of color.</p>
                        </div><!--end .accordion-section-content-->
                    </div><!--end .accordion-section-->
                <div class="accordion-section">
                        <a class="accordion-section-title" href="#accordion-19">19) Acceptance of alternate forms of identification</a>
         
                        <div id="accordion-19" class="accordion-section-content">
                        <p>If the bank will accept something other than the regular forms of identification to tell if you are who you say you are (e.g. a credit card bill instead of a passport).</p>
                        </div><!--end .accordion-section-content-->
                    </div><!--end .accordion-section-->
                <div class="accordion-section">
                        <a class="accordion-section-title" href="#accordion-20">20) Cost of wire transfers</a>
         
                        <div id="accordion-20" class="accordion-section-content">
                        <p>The amount of money the bank will charge you to move money from your account to another person&#39;s account.</p>
                        </div><!--end .accordion-section-content-->
                    </div><!--end .accordion-section-->                
                </div><!--end .accordion-->
            </div>
        </div>
        <div class="footerBoxCateg">
            <a href="http://www.albany.edu/~ld551222/362/TeamProject/contact-page.html">Contact Us</a>
        </div> 
    </div>
    </body>
</html>
