<!DOCTYPE html>
<html>
    <head>
        <title>Trustee</title>
        <link rel="stylesheet" type="text/css" href="homepageStyle.css">
    </head>
    <body>
        <div class="container">
        <div class="header">
            <div class="logo">
                <img src="http://i.imgur.com/VzHosQ5.jpg" alt="logo"/>
            </div>
            <div class="searchbox">
                <button type="button">Search</button>
                <form class="newsearch" method="get" action="http://www.google.com">
                    <input type="text" name="q" size="21" maxlength="120">
                </form>
            </div>
            <div class="navbar">
                <a href="http://www.albany.edu/~ld551222/362/TeamProject/front-page.html">Home</a>
                <a href="http://www.albany.edu/~ld551222/362/TeamProject/bankrank.html">Bank Information</a>
                <a href="http://www.albany.edu/~ld551222/362/TeamProject/bankcalculator.html">Bank Calculator</a>
                <a href="http://www.albany.edu/~ld551222/362/TeamProject/categories.html">Categories</a>    
            </div>
        </div>
        <div class="middlesession">
            <div class="mission">
                <h4>Our Mission</h4>
                <p>Trustee's vision is to be recognized as the biggest partner with every potential bank user in the New York State, assertively helping them to choose which bank is more likely to fulfill their needs. Or efforts involve focusing the full range of our personal gain by quality services and ethical approach at the highest level.<br> We will achieve our vision by securing our place as a trusted partner of our customers. We will provide effective and reliable directions that enhance our customers' decisions. </p>
            </div>
            <div class="homepageimg">
                <img src="http://i.imgur.com/PTc6uwc.jpg" alt="bankOptions">
            </div>
        </div>
            <div class="footerBoxHome">
            <a href="http://www.albany.edu/~ld551222/362/TeamProject/contact-page.html">Contact Us</a>
        </div> 
        </div>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-71046200-2', 'auto');
            ga('send', 'pageview');                
        </script>
    </body>
</html>
