<!DOCTYPE html>
<html>
    <head>
        <title>Trustee</title>
        <link rel="stylesheet" type="text/css" href="homepageStyle.css">
    </head>
    <body>
        <div id="header">
            <div id="logo">
                <img src="http://i.imgur.com/VzHosQ5.jpg" alt="logo"/>
            </div>
            <div id="searchbox">
                <button type="button">Search</button>
                <form id="newsearch" method="get" action="http://www.google.com">
                    <input type="text" name="q" size="21" maxlength="120">
                </form>
            </div>
            <div id="navbar">
                <a href="#">Home</a>
                <a href="#">Bank Ranking</a>
                <a href="#">Bank Calculator</a>
                <a href="#">About</a>    
            </div>
        </div>
        <div id="middlesession">
            <div id="mission">
                <h4>Our Mission</h4>
                <p>Trustee's vision is to be recognized as the biggest partner with every potential bank user in the New York State, assertively helping them to choose which bank is more likely to fulfill their needs. Or efforts involve focusing the full range of our personal gain by quality services and ethical approach at the highest level.<br> We will achieve our vision by securing our place as a trusted partner of our customers. We will provide effective and reliable directions that enhance our customers' decisions. </p>
            </div>
            <div id="homepageimg">
                <img src="http://i.imgur.com/PTc6uwc.jpg" alt="bankOptions">
            </div>
        </div>
        <div>
            <div id="footerbar">
                <a href="#">Terms &amp; Conditions</a>
                <a href="#">Our Social Media</a>
                <a href="#">F.A.Q</a>
                <a href="#">Contact Us</a>    
            </div>
        </div>
    </body>

</html>
